<header id="main-actionbar" class="main-actionbar">
    <div id="menu-navigation-drawer" class="hbox-item">
        <img id="menu-icon" class="menu-icon" src="../icons/menu.svg" alt="menu" title="Open menu" draggable="false">
    </div>
    <div id="title-website" class="hbox-item">
        <a href="/JustRead/app/"><h1 id="title" class="title-website" title="Just Read">Just Read</h1></a>
    </div>
    <div id="searchbar-box" class="hbox-item-search">
        <input id="search-input" class="search-input" type="text" name="search" placeholder="Search" maxlength="54">
        <img id="search-icon" class="search-icon" src="../icons/search.svg" alt="search icon" title="Click to search" draggable="false">
    </div>
    <div id="login-link-box" class="hbox-item-r">
        <a id="login-link" class="login-link" href="<%=request.getContextPath()%>/app/login"><b>Login</b></a>
    </div>
</header>
