<header id="main-actionbar" class="main-actionbar">
    <div id="menu-navigation-drawer" class="hbox-item">
        <img id="menu-icon" class="menu-icon" src="../icons/menu.svg" alt="menu" title="Open menu" draggable="false">
    </div>
    <div id="title-website" class="hbox-item">
        <a href="/JustRead/app/"><h1 id="title" class="title-website" title="Just Read">Just Read</h1></a>
    </div>
    <div id="searchbar-box" class="hbox-item-search">
        <input id="search-input" class="search-input" type="text" name="search" placeholder="Search">
        <img id="search-icon" class="search-icon" src="../icons/search.svg" alt="search icon" title="Click to search" draggable="false">
    </div>
    <div id="profile-link-box" class="hbox-item-r1">
        <img id="profile-icon" class="profile-icon" src="../icons/account-circle.svg" alt="profile image" title="Profile" draggable="false">
    </div>
    <div id="notification-link-box" class="hbox-item-r1">
        <img id="notification-icon" class="notification-icon" src="../icons/bell.svg" alt="notifications" title="notifications" draggable="false">
    </div>
</header>
