<nav id="navigation-drawer" class="navigation-drawer">
    <!-- General -->
    <h2 id="general-drawer-title" class="drawer-title">General</h2>
    <div class="horizontal-separator"></div>
    <ul id="drawer-link-general" class="drawer-link">
        <li class="drawer-text-link">
            <a href="/JustRead/app/catalog" class="link"><span><img class="material-icons" alt="Catalog" src="../icons/book-multiple.svg"/></span>Catalog</a>
        </li>
    </ul>
    <!-- Library -->
    <h2 id="library-drawer-title" class="drawer-title">Library</h2>
    <div class="horizontal-separator"></div>
    <ul id="drawer_link2" class="drawer-link">
        <li class="drawer-text-link">
            <a id="contacts-link" class="link"><span><img class="material-icons" alt="Contacts" src="../icons/contact-mail.svg"/></span>Contacts</a>
        </li>
        <li class="drawer-text-link">
            <a id="faq-link" class="link"><span><img class="material-icons" alt="FAQ" src="../icons/help-circle.svg"/></span>FAQ</a>
        </li>
    </ul>
    <!-- About us -->
    <h2 id="Application-drawer-title" class="drawer-title">
        About us
    </h2>
    <div class="horizontal-separator"></div>
    <ul id="drawer-link-aboutus" class="drawer-link">
        <li class="drawer-text-link">
            <a id="about-link" class="link"><span><img class="material-icons" alt="About us" src="../icons/account-multiple.svg"/></span>What about us?</a>
        </li>
        <li class="drawer-text-link">
            <a id="application-link" class="link"><span><img class="material-icons" alt="Application" src="../icons/cellphone-android.svg"/></span>Application</a>
        </li>
    </ul>
</nav>