<nav id="navigation-drawer" class="navigation-drawer">
    
    <!-- Borrowing -->
    <h2 id="general-drawer-title" class="drawer-title">Borrowing</h2>
    <div class="horizontal-separator"></div>
    <ul id="drawer-link-general" class="drawer-link">
        <li class="drawer-text-link">
            <img class="material-icons" alt="Active borrowing" src="../icons/timer-sand.svg"/>
            <a id="active-link" class="link">Active</a>
        </li>
        <li class="drawer-text-link">
            <img class="material-icons" alt="Expired borrowing" src="../icons/timer-sand-empty.svg"/>
            <a id="expired-link" class="link">Expired</a>
        </li>
        <li class="drawer-text-link">
            <img class="material-icons" alt="Borrowing archive" src="../icons/timer-sand-full.svg"/>
            <a id="archive-link" class="link">Archive</a>
        </li>
    </ul>
    
    <!-- Users -->
    <h2 id="library-drawer-title" class="drawer-title">Users</h2>
    <div class="horizontal-separator"></div>
    <ul id="drawer_link2" class="drawer-link">
        <li class="drawer-text-link">
            <img class="material-icons" alt="Show all users" src="../icons/account-multiple.svg"/>
            <a id='all-users-link' class="link">Show all</a>
        </li>
    </ul>
    
    <!-- Books -->
    <h2 id="library-drawer-title" class="drawer-title">Books</h2>
    <div class="horizontal-separator"></div>
    <ul id="drawer_link2" class="drawer-link">
        <li class="drawer-text-link">
            <img class="material-icons" alt="Show all books" src="../icons/book-multiple.svg"/>
            <a id="all-books-link" class="link">All</a>
        </li>
        <li class="drawer-text-link">
            <img class="material-icons" alt="Add a new book" src="../icons/book-plus.svg"/>
            <a id="new-book-link" class="link">Add</a>
        </li>
    </ul>
    
    <!-- Authors -->
    <!--<h2 id="library-drawer-title" class="drawer-title">Authors</h2>
    <div class="horizontal-separator"></div>
    <ul id="drawer_link2" class="drawer-link">
        <li class="drawer-text-link">
            <img class="material-icons" alt="Show all authors" src="../icons/help-circle.svg"/>
            <a id="all-authors-link" class="link">All</a>
        </li>
        <li class="drawer-text-link">
            <img class="material-icons" alt="Add a new author" src="../icons/help-circle.svg"/>
            <a id="new-author-link" class="link">Add</a>
        </li>
    </ul>-->
    
    <!-- Categories -->
    <!--<h2 id="library-drawer-title" class="drawer-title">Categories</h2>
    <div class="horizontal-separator"></div>
    <ul id="drawer_link2" class="drawer-link">
        <li class="drawer-text-link">
            <img class="material-icons" alt="Show all categories" src="../icons/help-circle.svg"/>
            <a id="all-categories-link" class="link">All</a>
        </li>
        <li class="drawer-text-link">
            <img class="material-icons" alt="Add a new category" src="../icons/help-circle.svg"/>
            <a id="new-category-link" class="link">Add</a>
        </li>
    </ul> -->
    
</nav>